@import "../style.scss";

section {
  padding: 4rem 0 4rem 0;
  position: relative;
}
.jarallax {
  position: relative;
  z-index: 0;
  height: 100%;
}
.form-control {
  background-color: transparent !important;
}
.hero-landing {
  padding: 9.5rem 0 4.75rem 0;
  background-color: $orange-100;
  @include media-breakpoint-down(sm) {
    padding: 5rem 0 0 0;
    .hero-root {
      padding-right: 0.5rem !important;
      padding-left: 0.5rem !important;
    }
  }
  .hero-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 5rem 0 5rem 0;
    height: 100% !important;
    @include media-breakpoint-down(sm) {
      padding: 2rem 0 2rem 0;
    }
  }
  .hero-root {
    height: 100%;
    width: 100%;
    margin-right: auto;
    display: flex;
    align-items: center;

    @include media-breakpoint-up(md) {
    }
    article {
      width: 100%;
    }
  }
  #hero-pitch {
    @include media-breakpoint-down(sm) {
      font-size: medium;
    }
  }

  .square {
    position: relative;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
  }
  .square::after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
  .square .square-inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .border-custom {
    border-width: 0.5rem !important;
  }
  .jarallax:hover .card-flip-inner {
    transform: rotateY(180deg);
  }
}
.services {
  .bg-box {
    position: relative;
    transform: translate(60%, 50px);
  }
  .service-wrapper {
    padding-right: 70px;
    @include media-breakpoint-down(sm) {
      padding-right: 0px;
    }
  }
  .service-image {
    --img-height: 100%;
    transform: translateY(0px);
    transition-duration: 500ms;
    opacity: 1;
    overflow: hidden;
    &::before {
      content: "";
      display: block;
      padding-top: var(--img-height);
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
    }
  }
  .carousel-control-next {
    background-image: none !important;
  }
  .shape-parent {
    position: absolute;
    right: 0rem;
    top: 50%;
    z-index: 0;
    .background {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;

      .background-color {
        background-color: $primary;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        -webkit-transition: background-color 150ms linear;
        transition: background-color 150ms linear;
        will-change: background-color;
      }
    }
  }
  .forward-icon-wrapper .forward-icon:not(:last-child)::after {
    font-family: "bootstrap-icons";
    content: "\F138";
    font-size: $h5-font-size;
  }
  .forward-icon-wrapper .forward-icon:last-child::after {
    font-family: "bootstrap-icons";
    content: "\F26B";
    font-size: $h5-font-size;
  }
}
.service-list {
  margin: 0 auto;
  align-items: center;
  display: grid;
  padding: 2rem 0;
  grid-gap: 2.5rem;

  @include media-breakpoint-up(lg) {
    padding: 1.25rem 0;
    grid-gap: 2.5vw 0;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.service-item {
  display: flex;
  flex-direction: column;
  @include media-breakpoint-up(md) {
    align-items: center;
    animation: popup-keyframe 0.75s 0.5s backwards;
    &:hover .service-item-head *,
    &:hover .service-item-subhead * {
      opacity: 1;
      transform: translateY(0);
    }
    &:hover .service-item-bg-image {
      opacity: 0;
    }
    &:hover .service-item-content {
      transform: scale(1);
      background-image: none;
      opacity: 1;
    }
    &:hover .service-item-image {
      top: 100%;
      transform: translateY(-40%) scale(0);
    }
    &:hover .service-item-body {
      transition-delay: 0.45s;
      transition-duration: 0.65s;
      opacity: 1;
    }
    &:hover .service-item-subtitle,
    &:hover .service-item-title {
      transform: translateY(-50px);
      opacity: 0;
    }
  }
  @include media-breakpoint-down(sm) {
    padding: 0;
  }
  .service-item-right,
  .service-item-left {
    background: rgb(72, 84, 97);
    background: linear-gradient(
      90deg,
      rgba(72, 84, 97, 1) 0%,
      rgba(37, 43, 49, 1) 100%,
      rgba(0, 0, 0, 1) 100%
    );
    color: $gray-100;
    padding: 2rem;
    animation: popup-keyframe 0.75s 0.5s backwards;
  }
  .service-item-head,
  .service-item-subhead {
    overflow-y: hidden;
    @include media-breakpoint-up(md) {
      & * {
        opacity: 0;
        text-align: center;
        transform: translateY(100px);
        transition: all 0.5s 0.25s;
      }
    }
  }
  .service-item-bg-image {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    background-image: url("assets/grass-building.svg");
    opacity: 1;
    transition: 0.6s all ease-in-out;
    background-repeat: no-repeat;
  }
  .service-item-content {
    display: flex;
    flex-direction: column;
    z-index: 1;
    position: relative;
    transition: transform 0.6s cubic-bezier(1, 0.005, 0.37, 1.645);
    @include media-breakpoint-up(md) {
      width: 375px;
      height: 375px;
      padding: 2.5rem;
      /* border-radius: 50%;*/
      transform: scale(0.56);
      align-items: center;
      justify-content: center;
      background-color: $black;
      color: $white;
    }
  }
  .service-item-detail {
    transform: scale(0);
    display: none;
    @include media-breakpoint-up(md) {
      display: block;
      transform: scale(1);
      transition: all 0.5s;
    }
  }

  .service-item-image {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    @include media-breakpoint-up(md) {
      top: 50%;
      max-width: 350px;
      max-height: 350px;
      position: absolute;
      background-color: transparent !important;
      transform: translateY(-50%) scale(1.75);
      transition: transform 0.6s cubic-bezier(1, 0.005, 0.37, 1),
        top 0.6s cubic-bezier(1, 0.005, 0.37, 1);
    }
    @include media-breakpoint-down(sm) {
      //background-color: $cyan-500;
    }
    img {
      content: url("assets/service.svg");
    }
  }
  .image-root {
    transition: opacity 0.5s linear;
    .image-wrapper-1 {
      box-sizing: border-box;
      display: inline-block;
      overflow: hidden;
      width: initial;
      height: initial;
      background: none;
      opacity: 1;
      border: 0px;
      margin: 0px;
      padding: 0px;
      position: relative;
      max-width: 100%;
    }
    .image-wrapper-2 {
      box-sizing: border-box;
      display: block;
      width: initial;
      height: initial;
      background: none;
      opacity: 1;
      border: 0px;
      margin: 0px;
      padding: 0px;
      max-width: 100%;
    }
    img {
      display: block;
      max-width: 100%;
      width: 100%;
      height: initial;
      background: none;
      opacity: 1;
      border: 0px;
      margin: 0px;
      padding: 0px;
    }
  }
  .service-item-body {
    margin-top: 1.5rem;
    //line-height: 1.25rem;
    @include media-breakpoint-up(md) {
      cursor: default;
      margin-top: 0;
      text-align: center;
      opacity: 0;
      transition: opacity 0.5s;
    }
  }

  .service-item-subtitle,
  .service-item-title {
    text-align: center;
    transform: translateY(0);
    transition: all 0.5s;
    overflow-y: hidden;
  }
}

.process-item {
  position: relative;
  display: inline-block;

  .process-item-number {
    position: absolute;
    color: #e1e1e1;
    left: 0;
    top: 0;
    -webkit-transform: translate(-127%, -21%);
    -ms-transform: translate(-127%, -21%);
    transform: translate(-127%, -21%);
    font-weight: 900;
    background-color: #fff;
    font-size: 5.584rem;
  }
}
.gallery {
  //background-color: $gray-900;
  //color: $white;
  .grid {
    background: transparent;
  }
  .grid:after {
    content: "";
    display: block;
    clear: both;
  }
  .grid-item {
    transition: 0.5s all ease-in-out;
    position: relative;
    overflow: hidden;
    &:hover {
      padding: 0;
      .img-overlay {
        opacity: 1;
      }
      .background-color {
        opacity: 0.7;
      }
      img {
        transform: scale(1.2);
      }
    }
    img {
      display: block;
      max-width: 100%;
      transform: scale(1);
      transition: all 0.5s;
    }
    .img-overlay,
    .background-color {
      opacity: 0;
      -webkit-transition: opacity 0.5s;
      transition: opacity 0.5s;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
    .img-overlay {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      max-width: 100%;
      margin-right: auto;
      margin-left: auto;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      //z-index: 1;
      backdrop-filter: saturate(100%) blur(5px);
    }
    .title,
    .subtitle {
      text-align: center;
    }
    .title {
      color: $primary;
      font-weight: bold;
    }
    .subtitle {
      font-size: $font-size-sm;
      color: $white;
    }
    .background-color {
      background-color: $black;
    }
  }
}
.about {
  .row {
    flex-direction: column;
    @include media-breakpoint-up(lg) {
      flex-direction: row;
    }
  }

  .bg-box {
    position: relative;
    transform: translate(60%, -10px);
  }
  .shape {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    pointer-events: none;
  }
  .shape-wrapper {
    position: relative;
    padding-bottom: 70px;
    overflow: hidden;
  }
  .shape-parent {
    position: relative;
    z-index: 0;
    margin-left: 70px;
  }
  .shape-textbox {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .svg-award {
    content: url("assets/award.svg");
    width: 51px;
    height: 89px;
  }
  .ms-n40 {
    margin-left: -40px !important;
  }
  .mt-n40 {
    margin-top: -40px !important;
  }

  .image-container {
    --img-height: 100%;
    transform: translateY(0px);
    transition-duration: 500ms;
    opacity: 1;
    overflow: hidden;
    &::before {
      content: "";
      display: block;
      padding-top: var(--img-height);
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
    }
  }
  .background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;

    .background-color {
      background-color: $primary;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      -webkit-transition: background-color 150ms linear;
      transition: background-color 150ms linear;
      will-change: background-color;
    }
  }
  .py-35 {
    padding-top: 35px !important;
    padding-bottom: 35px !important;
  }
  .px-60 {
    padding-right: 60px !important;
    padding-left: 60px !important;
  }
}
.partners {
  img {
    min-height: 60px;
    width: 60px;
    object-fit: contain;
  }
}
.quotation {
  position: relative;

  //padding-bottom: 0;
  @include media-breakpoint-up(lg) {
    //padding-top: 6rem;
    //padding-bottom: 0;
  }
  @include media-breakpoint-down(sm) {
    //padding-top: 0;
  }
  .quotation-form {
    margin-top: 2.4rem;
    @include media-breakpoint-up(lg) {
      padding-left: 7rem;
      //position: absolute;
      //width: 50%;
      //right: 0;
      //bottom: 0;
      //transform: translateY(-3rem);
    }
  }
  .avatar {
    @include media-breakpoint-down(md) {
      height: 150px;
    }
  }
  .card-icon i {
    font-size: 2rem;
    color: $orange-400;
  }
  #quote-form {
    .form-control {
      padding: 0 0 1rem 0 !important;
      //font-size: 15px;
      border-top: 0;
      border-right: 0;
      border-left: 0;
      &:focus {
        box-shadow: none !important;
      }
    }
  }

  .address {
    @include media-breakpoint-down(sm) {
      text-align: center;
    }
  }
  .address-icon {
    @include media-breakpoint-down(sm) {
      margin: auto;
    }
  }
}
.footer {
  position: relative;
  background-color: $black;
  //background-image: url("assets/lines.svg");
  .container {
    color: $white;
  }
  .footer-logo {
    width: 100px !important;
    height: auto !important;
    content: url("assets/service-left.svg");
  }
  .admin-link {
    &:hover {
      color: $primary !important;
    }
  }
  #footer-company-desc,
  #footer-company-address,
  #footer-email,
  #footer-phone {
    color: $gray-300 !important;
  }
}
.background {
  background-position: center;
  overflow: hidden;
  will-change: transform, opacity, filter;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-repeat: no-repeat;
  z-index: 0;
}
.card-flip {
  border: 0;
  border-radius: 0;
  background-color: transparent;
  perspective: 1000px;

  &:hover .card-flip-inner {
    transform: rotateY(180deg);
  }

  .card-img,
  .card-img-top,
  .card-img-bottom,
  .card-body {
    position: static;
  }
  .card-flip-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
    transform-style: preserve-3d;
  }
  .card-flip-front,
  .card-flip-back {
    backface-visibility: hidden;
  }
  .card-flip-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotateY(180deg);
    color: inherit;
    text-decoration: none;

    .card-body {
      display: table;
      width: 100%;
      height: 100%;
      min-height: 100%;

      .card-body-inner {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
      }
    }

    &:hover {
      color: inherit;
      text-decoration: none;
    }
  }
}
#loader-wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1300;
  background-color: $white;

  .loader-position {
    display: grid;
    width: 100%;
    height: 100%;
  }

}

body.wait {
  #loader-wrapper {
    display: block;
  }
}
